{% extends 'base.html' %}

{% block content %}

{% if error %}
<br>
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}

<div class="text-center">
    <h1 class="pt-3">LOGIN</h1>
    <br>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        Username:
        <br>
        <input type="text" name="username">
        <br>
        Password:
        <br>
        <input type="password" name="password">
        <br>
        <br>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
    <br><br>
</div>

{% endblock %}