{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
   <h4 class="pt-3">Hi, {{user.username}}</h4>
{% endif %}

{% for product in products %}
    <div class="row pt-3">
        <div class="col-2">
                <a href="{% url 'detail' product.id %}"><img src="{{ product.icon.url }}" alt="" width="100%"></a>
        </div>
        <div class="col-7">
            <a href="{% url 'detail' product.id %}"><h3>{{ product.title }}</h3></a>
            <p>{{ product.summary }}</p>
        </div>
        <div class="col-3">
            <form id="my_form" method="POST" action="{% url 'detail' product.id %}">
                {% csrf_token %}
                <a href="javascript:{}" onclick="document.getElementById('my_form').submit();"><button class="btn btn-primary"><i class="fas fa-caret-up"></i> Upvote {{ product.votes_total }}</button></a>
            </form>
        </div>
    </div>
{% endfor %}

{% endblock %}